body {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bg4.jpg);
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.main {
    z-index: 100;
}
.main-heading{
    margin: 6% 0 1% 0;
    font-size: 1.5vw;
    color: white;
}
.content-area {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.editor{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detail-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 2%;
    transition: all 1s ease;
}

.sections{
    width: 75%;
    margin-bottom: 10%;
}

.sections .section{
    margin: 5% 0;
}

.section .heading{
    display: flex;
    gap: 1%;
    align-items: center;
    font-size: 1.2vw;
    text-decoration: none;
    transition: all 0.5s ease;
    color: rgb(69, 69, 224);
}

.heading:hover{
    color: #21ad42;
}

.sections p{
    font-size: 1.2vw;
    font-weight: bold;
}